Repository MeteoSwiss-APN/pyflexplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: rstcheck, codespell, pydocstyle, pylint, flake8, mypy

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

pylint:
  name: pylint
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: pylint

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8

mypy:
  name: mypy
  description: Perform static type analysis of Python code
  language: system
  entry: mypy
  require_serial: true
  pass_filenames: false
  verbose: true

Undo change from PR55
  src/pyflexplot/cli/main.py
Due: codespell, pydocstyle, pylint, flake8, mypy

convert to string
  src/pyflexplot/cli/main.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Fix upload of shapefiles (#56)
  src/pyflexplot/cli/main.py
Due: codespell, pydocstyle, pylint, flake8, mypy

remove pre-commit
  .pre-commit-config.yaml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  src/pyflexplot/cli/click.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Remove hardcoded terraform workspace
  Jenkinsfile
  infrastructure/aws/main.tf
Due: codespell

Remove pre-commit (#57)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  src/pyflexplot/cli/click.py
Due: codespell, pydocstyle, pylint, flake8, mypy

dockerfile: remove documenter step
  Dockerfile
Due: codespell

modify S3 settings to work with non-aws s3
  src/pyflexplot/config/service_settings.py
  src/pyflexplot/config/settings.yaml
  src/pyflexplot/s3.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Jenkinsfile: push image to awsicon-sandbox ECR
  Jenkinsfile
Due: codespell

Switch ens-/plot-variable and change the separator to tilde.
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_png.toml
Due: codespell

Use automatic parameter name to be consistent with ICON-CH2-EPS output file names.
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_png.toml
Due: codespell

Update version and contributors.
  AUTHORS.md
  pyproject.toml
Due: codespell

comments: Jenkinsfile
  Jenkinsfile
Due: codespell

comments: rm s3 access/secret keys as attri.
  src/pyflexplot/config/service_settings.py
  src/pyflexplot/config/settings.yaml
  src/pyflexplot/s3.py
Due: codespell, pydocstyle, pylint, flake8, mypy

jenkinsfile: only terraform for specific account
  Jenkinsfile
Due: codespell

Adapt PNG output file naming to meet ProductBrowser requirements (#61)
  AUTHORS.md
  pyproject.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_png.toml
  src/pyflexplot/output.py
Due: codespell, pydocstyle, pylint, flake8, mypy

add output Fabio bucket config
  src/pyflexplot/config/settings.yaml
  src/pyflexplot/s3.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Add comments clarifying how paths are calculated and how pdfs are merged
  src/pyflexplot/cli/main.py
  src/pyflexplot/output.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Remove access to field since "formatted_file" is not an object
  src/pyflexplot/output.py
Due: codespell, pydocstyle, pylint, flake8, mypy

comments: awsImageName specific to awsAccount
  Jenkinsfile
Due: codespell

Add comments clarifying how paths are calculated and how pdfs are merged (#63)
  src/pyflexplot/cli/main.py
  src/pyflexplot/output.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Fix Jenkinsfile
  Jenkinsfile
Due: codespell

comments jenkinsfile
  Jenkinsfile
Due: codespell

Use agreed tag format and skip pushing to ECR
  Jenkinsfile
  infrastructure/aws/.terraform.lock.hcl
  infrastructure/aws/ecr.tf
  infrastructure/aws/main.tf
  infrastructure/aws/tfvars/depl.tfvars
  infrastructure/aws/tfvars/devt.tfvars
  infrastructure/aws/tfvars/local.tfvars
  infrastructure/aws/tfvars/prod.tfvars
  infrastructure/aws/variables.tf
Due: codespell

DT-196 Integrate GitOps pipeline
  .gitignore
  .mch-ci.yml
  Dockerfile
  Jenkinsfile
  infrastructure/aws/.terraform.lock.hcl
  infrastructure/aws/ecr.tf
  infrastructure/aws/main.tf
  infrastructure/aws/tfvars/depl.tfvars
  infrastructure/aws/tfvars/devt.tfvars
  infrastructure/aws/tfvars/local.tfvars
  infrastructure/aws/tfvars/prod.tfvars
  infrastructure/aws/variables.tf
  poetry.lock
  pyproject.toml
  sonar-project.properties
Due: codespell

DT-196 Add labels to docker images in order to remove them after the CI pipeline runs
  Dockerfile
  Jenkinsfile
Due: codespell

DT-196 Add version argument to images
  Dockerfile
Due: codespell

DT-196 Delete test_ci.sh substituting it by mchbuild tasks
  Dockerfile
  test_ci.sh
Due: codespell

DT-196 Use "dispersionmodelling" as solution name instead of "flexpart-cosmo"
  .mch-ci.yml
Due: codespell

Add presets to name PNG-files produced at AWS and CSCS differently. Fix shapefile-names (*.shp.zip) to match PDF names. Add contributors.
  AUTHORS.md
  src/pyflexplot/data/presets/aws/icon-ch1-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/aws/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/aws/icon-ch1-ctrl/all_shp.toml
  src/pyflexplot/data/presets/aws/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/aws/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/aws/icon-ch2-eps/all_shp.toml
  src/pyflexplot/data/presets/cscs/icon-ch1-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/cscs/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/cscs/icon-ch1-ctrl/all_shp.toml
  src/pyflexplot/data/presets/cscs/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/cscs/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/cscs/icon-ch2-eps/all_shp.toml
Due: codespell

Add presets for IFS with changed filenames according to the ProductProwser's requirements.
  src/pyflexplot/data/presets/aws/ifs-hres/all_pdf.toml
  src/pyflexplot/data/presets/aws/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/aws/ifs-hres/all_shp.toml
  src/pyflexplot/data/presets/cscs/ifs-hres/all_pdf.toml
  src/pyflexplot/data/presets/cscs/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/cscs/ifs-hres/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_shp.toml
Due: codespell

Apply suggestions from review.
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_shp.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_pdf.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_pdf.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_shp.toml
Due: codespell

Reduce number of similar setup files using existing opr and test directories.
  .gitignore
  src/pyflexplot/data/presets/aws/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/cscs/icon-ch1-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/cscs/icon-ch1-ctrl/all_shp.toml
  src/pyflexplot/data/presets/cscs/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/cscs/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/cscs/icon-ch2-eps/all_shp.toml
  src/pyflexplot/data/presets/cscs/ifs-hres/all_shp.toml
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_shp.toml
  src/pyflexplot/data/presets/test/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/test/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/test/icon-ch2-eps/all_shp.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_pdf.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_shp.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_pdf.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_shp.toml
Due: codespell

Add presets to name PNG-files produced at AWS and CSCS differently. F… (#67)
  .gitignore
  AUTHORS.md
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_shp.toml
  src/pyflexplot/data/presets/test/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/test/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/test/icon-ch2-eps/all_shp.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_pdf.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_shp.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_pdf.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_shp.toml
Due: codespell

Bump minor version
  pyproject.toml
Due: none

Add publishSbom and pypi release to mch-ci.yaml and Jenkinsfile
  .mch-ci.yml
  Jenkinsfile
Due: codespell

Add github credentials
  Jenkinsfile
Due: codespell

setPackageVersion: false
  .mch-ci.yml
Due: codespell

Update .mch-ci.yml
  .mch-ci.yml
Due: codespell

Update pyproject.toml - pypi source
  pyproject.toml
Due: none

Path conditions:
  rstcheck: any of: \.rst$
  codespell: any file but: (?x)^(
    poetry.lock |
    pyproject.toml |
)$

  pydocstyle: any of: ^src/ and \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
