Repository MeteoSwiss-APN/pyflexplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: rstcheck, codespell, pydocstyle, pylint, flake8, mypy

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

pylint:
  name: pylint
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: pylint

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8

mypy:
  name: mypy
  description: Perform static type analysis of Python code
  language: system
  entry: mypy
  require_serial: true
  pass_filenames: false
  verbose: true

gitignore
  .gitignore
Due: codespell

version remove patch
  pyproject.toml
Due: none

Test old way
  Jenkinsfile
Due: codespell

add shared library
  Jenkinsfile
Due: codespell

add pip_user env var
  Jenkinsfile
Due: codespell

retry
  Jenkinsfile
Due: codespell

test
  Jenkinsfile
Due: codespell

RETRY
  Jenkinsfile
Due: codespell

rename env var
  Jenkinsfile
Due: codespell

mchbuild deploy.pypi
  Jenkinsfile
Due: codespell

retry
  .mch-ci.yml
  Jenkinsfile
  pyproject.toml
Due: codespell

use script block
  Jenkinsfile
Due: codespell

bump patch
  pyproject.toml
Due: none

add sbom publisher to scan
  .mch-ci.yml
  Jenkinsfile
  pyproject.toml
Due: codespell

remove comment
  pyproject.toml
Due: none

tidy
  Jenkinsfile
Due: codespell

Publish to Nexus PyPI (#68)
  .gitignore
  .mch-ci.yml
  Jenkinsfile
  pyproject.toml
Due: codespell

Update pyproject.toml
  pyproject.toml
Due: none

Update poetry lock
  poetry.lock
Due: none

DT-239: use fixed version for the mchbuild
  Jenkinsfile
Due: codespell

Update pyproject.toml version patch
  pyproject.toml
Due: none

Plot some ensemble statistics per species.
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_shp.toml
Due: codespell

Update README.md to shift COSMO presets to a legacy table and to show the correct Poetry version for the Conda environment.
  README.md
Due: codespell

Correct error in preset for shapefiles.
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_shp.toml
Due: codespell

Add species_id to filename to discern plot for different species.
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_shp.toml
Due: codespell

Bump patch level of version.
  pyproject.toml
Due: none

Correct naming of percentile shapefiles, consistent naming of concentration shapefiles.
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_shp.toml
Due: codespell

add indications in Dockerfile to download Liberation Sans font
  Dockerfile
Due: codespell

Sol1
  src/pyflexplot/plotting/boxed_plot.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_concentration_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_tot_deposition_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e_total_deposition_dummy.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_multipanel_ens_stats_integr_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_max_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_min_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_probability_wet_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Sol3
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_concentration_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_tot_deposition_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e_total_deposition_dummy.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_multipanel_ens_stats_integr_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_max_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_min_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_probability_wet_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
Due: codespell, pylint, flake8, mypy

DT-250 upgrade to latest version of mchbuild
  Jenkinsfile
Due: codespell

DT-250 add missing pip index url
  Jenkinsfile
Due: codespell

DT-250 rework deployment files to match latest standards
  .mch-ci.yml
  Jenkinsfile
Due: codespell

DT-250 fix variable declarations
  Jenkinsfile
Due: codespell

DT-250 use pythonContainerTestTask
  .mch-ci.yml
Due: codespell

DT-250 use pythonContainerTest
  .mch-ci.yml
Due: codespell

DT-250 replace version references
  Jenkinsfile
Due: codespell

DT-250 replace var.version references
  .mch-ci.yml
Due: codespell

Path conditions:
  rstcheck: any of: \.rst$
  codespell: any file but: (?x)^(
    poetry.lock |
    pyproject.toml |
)$

  pydocstyle: any of: ^src/ and \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
