Repository MeteoSwiss-APN/pyflexplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, pydocstyle, pylint, flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-symlinks
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: forbidden-files-copier-rej
        name: find copier rejection files
        language: fail
        entry: "Found copier update rejection file(s): review and remove them"
        files: "\\.rej$"
    -   id: forbidden-files-git-orig
        name: find git merge backup files
        language: fail
        entry: "Found git merge backup file(s): review and remove them"
        files: "\\.orig$"
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        description: Check REST files for correctness
        language: system
        entry: rstcheck
        types: [rst]
-   repo: local
    hooks:
    -   id: codespell
        name: codespell
        description: Check for spelling errors
        language: system
        entry: codespell
-   repo: local
    hooks:
    -   id: black
        name: black
        description: Format Python code
        language: system
        entry: black
        types_or: [python, pyi]
-   repo: local
    hooks:
    -   id: isort
        name: isort
        description: Group and sort Python imports
        language: system
        entry: isort
        types_or: [python, pyi, cython]
-   repo: local
    hooks:
    -   id: pydocstyle
        name: pydocstyle
        description: Check docstrings in Python code for compliance with conventions
        language: system
        entry: pydocstyle
        types: [python]
        files: ^src/
# SR It would be handy to abort if one linter fails b/c the same error often
# SR triggers multiple linters. That way, if flake8 fails, pylint and mypy
# SR (which in large code bases can take some time to run) could be skipped
# SR before fixing the error. Unfortunately, pre-commit only provides the global
# SR option fail_fast, which would abort even after the small fixers and
# SR formatters changed something. A potential solution could be to write a
# SR small bash script run-linters.sh that runs flake8, pylint and run-mypy.sh
# SR in that order and aborts on error.
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        description: Check Python code for correctness, consistency and adherence to best practices
        language: system
        entry: pylint
        types: [python]
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        description: Check Python code for correctness, consistency and adherence to best practices
        language: system
        entry: flake8
        types: [python]
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        description: Perform static type analysis of Python code
        language: system
        entry: bash tools/run-mypy.sh
        require_serial: true
        pass_filenames: false
        verbose: true
        types: [python]
        files: ^(src|tests)/

Remove pinned tests and use balfrin agent (#40)
  jenkins/Jenkinsfile
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_concentration_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_tot_deposition_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e_total_deposition_dummy.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_multipanel_ens_stats_integr_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_max_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_min_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_probability_wet_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
Due: pylint, flake8, mypy

RMF-81 Use poetry as dependency manager and use Jenkins@MCH to run the build steps
  .python-version
  Dockerfile
  Jenkinsfile
  poetry.lock
  pyproject.toml
  sonar-project.properties
  src/pyflexplot/__init__.py
  src/pyflexplot/awslambda.py
  test_ci.sh
Due: pydocstyle, pylint, flake8, mypy

RMF-81 Define deployment steps with empty action (using echo)
  Jenkinsfile
Due: none

RMF-81 Add test_ci script in the tester image
  Dockerfile
  Jenkinsfile
  test_ci.sh
Due: none

RMF-81 Add terraform deployment
  .gitignore
  Jenkinsfile
  infrastructure/aws/.terraform.lock.hcl
  infrastructure/aws/ecr.tf
  infrastructure/aws/main.tf
  infrastructure/aws/tfvars/depl.tfvars
  infrastructure/aws/tfvars/devt.tfvars
  infrastructure/aws/tfvars/local.tfvars
  infrastructure/aws/tfvars/prod.tfvars
  infrastructure/aws/variables.tf
Due: none

RMF-81 Fix Jenkinsfile
  Jenkinsfile
Due: none

RMF-81 Configure pushing image to AWS ECR repository
  Jenkinsfile
Due: none

RMF-81 Add pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/test_fail_precommit.py
Due: pydocstyle, pylint, flake8, mypy

RMF-81 Add black for code formatting
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/test_fail_precommit.py
Due: pydocstyle, pylint, flake8, mypy

RMF-81 Align pyflexplot with mch python template
  .copier-answers.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile
  HISTORY.md
  README.md
  README.meteoswiss.md
  VERSION
  infrastructure/aws/main.tf
  jenkins/Jenkinsfile
  pyproject.toml
  requirements/environment.yml
  requirements/requirements.yml
  src/pyflexplot/awslambda.py
  tools/find_py_toml.sh
  tools/run-mypy.sh
  tools/setup_env.sh
  tools/setup_miniconda.sh
Due: pydocstyle, pylint, flake8, mypy

Apply suggestions from code review
  README.md
Due: none

Remove docs folder
  docs/Makefile
  docs/authors.rst
  docs/conf.py
  docs/contributing.rst
  docs/documentation.inactive
  docs/history.rst
  docs/index.rst
  docs/installation.rst
  docs/make.bat
  docs/modules.rst
  docs/readme.rst
  docs/usage.rst
Due: rstcheck, pylint, flake8

Remove TODO re adding documentation stage in CICD
  Jenkinsfile
Due: none

Add comment to Jenkinsfile re AWS deployment target
  Jenkinsfile
Due: none

Fix HISTORY.md
  HISTORY.md
Due: none

Update contacts and authors
  AUTHORS.md
  pyproject.toml
Due: none

Update README.md
  README.md
Due: none

Remove TODO RMF-81 use pypi global repo, no need to use pypi global repo
  pyproject.toml
Due: none

Add local poetry config to gitignore
  .gitignore
Due: none

Update README.md with CSCS instructions
  README.md
Due: none

Add to gitignore
  .gitignore
Due: none

calculate the awsEcrRepo in a later stage
  Jenkinsfile
Due: none

Tidy
  Jenkinsfile
  infrastructure/aws/main.tf
  pyproject.toml
Due: none

Apply suggestions from code review
  AUTHORS.md
  pyproject.toml
Due: none

Run Jenkins on balfrin. Complete dispersion parameters for plots.
  VERSION
  pyproject.toml
Due: none

Capitalise logging
  src/pyflexplot/cli/main.py
Due: pydocstyle, pylint, flake8, mypy

WIP
  Dockerfile
  poetry.lock
  pyproject.toml
  src/pyflexplot/__init__.py
  src/pyflexplot/cli/cli.py
  src/pyflexplot/cli/click.py
  src/pyflexplot/cli/main.py
  src/pyflexplot/config/__init__.py
  src/pyflexplot/config/base_settings.py
  src/pyflexplot/config/service_settings.py
  src/pyflexplot/config/settings.yaml
  src/pyflexplot/s3/s3.py
  src/pyflexplot/setups/plot_setup.py
  src/pyflexplot/setups/setup_file.py
  tests/fast/test_pyflexplot/test_s3/test_s3.py
Due: pydocstyle, pylint, flake8, mypy

test_s3.py
  README.md
  poetry.lock
  pyproject.toml
  src/pyflexplot/cli/main.py
  src/pyflexplot/config/service_settings.py
  src/pyflexplot/s3/s3.py
  tests/fast/test_pyflexplot/test_s3/test_s3.py
Due: pydocstyle, pylint, flake8, mypy

update settings.yaml
  src/pyflexplot/config/settings.yaml
Due: none

tidy
  README.md
  poetry.lock
  pyproject.toml
  src/pyflexplot/cli/main.py
  src/pyflexplot/config/base_settings.py
  src/pyflexplot/s3.py
  src/pyflexplot/setups/plot_setup.py
  tests/fast/test_pyflexplot/test_s3/test_s3.py
Due: pydocstyle, pylint, flake8, mypy

Update settings path and add newline
  src/pyflexplot/__init__.py
  src/pyflexplot/config/settings.yaml
Due: pydocstyle, pylint, flake8, mypy

tidy
  Jenkinsfile
  src/pyflexplot/__init__.py
  src/pyflexplot/cli/main.py
  src/pyflexplot/config/service_settings.py
  src/pyflexplot/config/settings.yaml
  src/pyflexplot/s3.py
Due: pydocstyle, pylint, flake8, mypy

Fix tests
  src/pyflexplot/s3.py
  tests/fast/test_pyflexplot/test_s3/test_s3.py
Due: pydocstyle, pylint, flake8, mypy

Fix Jenkinsfile
  Jenkinsfile
Due: none

S3 client for remote input data download and upload of plots. (#43)
  Dockerfile
  Jenkinsfile
  README.md
  poetry.lock
  pyproject.toml
  src/pyflexplot/__init__.py
  src/pyflexplot/cli/cli.py
  src/pyflexplot/cli/click.py
  src/pyflexplot/cli/main.py
  src/pyflexplot/config/__init__.py
  src/pyflexplot/config/base_settings.py
  src/pyflexplot/config/service_settings.py
  src/pyflexplot/config/settings.yaml
  src/pyflexplot/s3.py
  src/pyflexplot/setups/plot_setup.py
  src/pyflexplot/setups/setup_file.py
  tests/fast/test_pyflexplot/test_s3/test_s3.py
Due: pydocstyle, pylint, flake8, mypy
