Repository MeteoSwiss-APN/pyflexplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: rstcheck, codespell, pydocstyle, pylint, flake8, mypy

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

pylint:
  name: pylint
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: pylint

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8

mypy:
  name: mypy
  description: Perform static type analysis of Python code
  language: system
  entry: mypy
  require_serial: true
  pass_filenames: false
  verbose: true

DT-397: Fix in1d deprecation with isin
  src/pyflexplot/plotting/map_axes.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-397: Declare scipy and cleanup .gitignore
  .gitignore
  poetry.lock
  pyproject.toml
  src/pyflexplot/data/naturalearthdata/shapefiles/natural_earth/.gitignore
  tests/slow/test_pyflexplot/test_plots/.gitignore
Due: codespell

DT-397: Dealing with the mypy violations id handled in #93
  Jenkinsfile
Due: codespell

DT-397: Upgrade all dependencies to the latest possible version
  poetry.lock
  pyproject.toml
Due: none

DT-392 rename plots to drop HRES
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_pdf.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_pdf.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_shp.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/affected_area.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_pdf.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_shp.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/concentration.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/deposition.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/integrated_concentration.toml
  src/pyflexplot/data/presets/test/ifs-hres/affected_area.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_pdf.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_shp.toml
  src/pyflexplot/data/presets/test/ifs-hres/concentration.toml
  src/pyflexplot/data/presets/test/ifs-hres/deposition.toml
  src/pyflexplot/data/presets/test/ifs-hres/integrated_concentration.toml
  src/pyflexplot/plots.py
  tests/fast/test_pyflexplot/test_setups/test_plot_setup_group.py
  tests/medium/test_pyflexplot/test_input/test_read_flexpart_fields/test_deterministic.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/test_ifs-hres-eu.py
  tests/slow/test_pyflexplot/test_plots/test_ifs-hres.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-392fix read fields model
  src/pyflexplot/input/read_fields.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-392 fix metadata for tests
  src/pyflexplot/input/fix_nc_input.py
  src/pyflexplot/input/meta_data.py
Due: codespell, pydocstyle, pylint, flake8, mypy

bump version to 2.6.0
  pyproject.toml
Due: none

DT-397: Address all mypy findings
  Jenkinsfile
  poetry.lock
  pyproject.toml
  src/pyflexplot/__init__.py
  src/pyflexplot/plotting/map_axes.py
  src/pyflexplot/setups/dimensions.py
  src/pyflexplot/setups/plot_setup.py
  src/pyflexplot/setups/setup_file.py
  src/srtools/crop_netcdf.py
  src/srutils/click.py
  src/srutils/plotting.py
  tests/fast/test_pyflexplot/test_plotting/test_proj_bbox.py
  tests/slow/test_pyflexplot/test_plots/test_shape-files.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-397: Eliminate superfluous type ignores
  pyproject.toml
  src/pyflexplot/plotting/boxed_plot.py
  src/pyflexplot/plotting/domain.py
  src/pyflexplot/plotting/map_axes.py
  src/pyflexplot/setups/base_setup.py
  src/pyflexplot/setups/dimensions.py
  src/pyflexplot/utils/summarize.py
  src/srtools/crop_netcdf.py
  src/srutils/dataclasses.py
  src/srutils/dict.py
  src/srutils/plotting.py
  src/words/words.py
  tests/fast/test_pyflexplot/test_setups/test_cast.py
  tests/fast/test_srutils/test_dict/multival/test_decompress.py
  tests/fast/test_srutils/test_dict/nested/test_decompress.py
  tests/fast/test_srutils/test_dict/nested/test_flatten.py
  tests/fast/test_srutils/test_dict/nested/test_linearize.py
  tests/fast/test_srutils/test_testing/test_assert_nested_equal.py
  tests/fast/test_srutils/test_varname/test_format.py
  tests/fast/test_words/test_translated_word.py
  tests/fast/test_words/test_translated_words.py
  tests/medium/test_pyflexplot/test_input/shared.py
  tests/medium/test_pyflexplot/test_input/test_read_flexpart_fields/test_deterministic.py
  tests/medium/test_pyflexplot/test_input/test_read_flexpart_fields/test_ensemble_artificial.py
  tests/slow/test_pyflexplot/test_plots/shared.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-319 add s3 metadata to include ladm params
  src/pyflexplot/s3.py
  tests/fast/test_pyflexplot/test_s3/test_s3.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-397: Ignore the generated reference files
  pyproject.toml
  src/pyflexplot/setups/base_setup.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-397: Align the pyproject.toml with poetry 2.x
  poetry.lock
  pyproject.toml
Due: none

DT-397: Fix mypy findings
  src/pyflexplot/__init__.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-397: .python-version should not be ignored
  .gitignore
Due: codespell

DT-397: Align the Jenkins file with the latest version
  .mch-ci.yml
  Jenkinsfile
Due: codespell

DT-397: Use the poetry2 builder image
  .mch-ci.yml
  Dockerfile
  pyproject.toml
Due: codespell

DT-397: Align the pylint configuration with the latest version
  pyproject.toml
Due: none

DT-397: Remove unused/irrelevant configuration
  pyproject.toml
Due: none

DT-397: Reformat the pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

DT-397: Pydocstyle was archived as a project
  poetry.lock
  pyproject.toml
Due: none

DT-397: Sphinx is not used
  poetry.lock
  pyproject.toml
Due: none

DT-397: Introduce the maintainers field
  pyproject.toml
Due: none

DT-397: Fix mypy config and violations
  pyproject.toml
  src/pyflexplot/__init__.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-397: Address minor PR feedback
  .mch-ci.yml
  Jenkinsfile
Due: codespell

DT-397: Simplify the mypy configuration
  poetry.lock
  pyproject.toml
  src/pyflexplot/__init__.py
  src/pyflexplot/setups/base_setup.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-397: Introduce ruff for formatting, and eliminate isort
  .mch-ci.yml
  Jenkinsfile
  poetry.lock
  pyproject.toml
Due: codespell

DT-397: Remove unused imports
  src/pyflexplot/cli/main.py
  src/pyflexplot/config/base_settings.py
  src/pyflexplot/plotting/boxed_plot.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-397: Upgrade dependencies
  poetry.lock
Due: none

DT-397: Fix the --version command
  .gitignore
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
Due: codespell

DT-397: Update README
  README.md
Due: codespell

Raserize several layers together instead of each one individually. Renders ignoring of warning messages concerning the non-availability of the rasterized option obsolete.
  src/pyflexplot/plotting/boxed_plot.py
  src/pyflexplot/plotting/map_axes.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Update references for slow tests
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_concentration_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_tot_deposition_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e_total_deposition_dummy.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_multipanel_ens_stats_integr_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_max_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_min_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_probability_wet_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
Due: codespell, pylint, flake8, mypy

Do not rasterize city annotations and update slow tests accordingly
  src/pyflexplot/plots.py
  src/pyflexplot/plotting/map_axes.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_concentration_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_tot_deposition_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e_total_deposition_dummy.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_multipanel_ens_stats_integr_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_max_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_min_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_probability_wet_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Use cartopy path_effects feature to create halo around country lines instead of calling _ax_add_countries twice.
  src/pyflexplot/plotting/map_axes.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Remove erroneously added trailing spaces
  src/pyflexplot/plots.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Rename HISTORY to CHANGELOG and update.
  AUTHORS.md
  CHANGELOG.md
  HISTORY.md
Due: codespell

Add backward compatibility to recognize old model name IFS-HRES (now IFS-Global)
  README.md
  src/pyflexplot/input/read_fields.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Path conditions:
  rstcheck: any of: \.rst$
  codespell: any file but: (?x)^(
    poetry.lock |
    pyproject.toml |
)$

  pydocstyle: any of: ^src/ and \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
