Repository MeteoSwiss-APN/pyflexplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, pydocstyle, pylint, flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-symlinks
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: forbidden-files-copier-rej
        name: find copier rejection files
        language: fail
        entry: "Found copier update rejection file(s): review and remove them"
        files: "\\.rej$"
    -   id: forbidden-files-git-orig
        name: find git merge backup files
        language: fail
        entry: "Found git merge backup file(s): review and remove them"
        files: "\\.orig$"
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        description: Check REST files for correctness
        language: system
        entry: rstcheck
        types: [rst]
-   repo: local
    hooks:
    -   id: codespell
        name: codespell
        description: Check for spelling errors
        language: system
        entry: codespell
-   repo: local
    hooks:
    -   id: black
        name: black
        description: Format Python code
        language: system
        entry: black
        types_or: [python, pyi]
-   repo: local
    hooks:
    -   id: isort
        name: isort
        description: Group and sort Python imports
        language: system
        entry: isort
        types_or: [python, pyi, cython]
-   repo: local
    hooks:
    -   id: pydocstyle
        name: pydocstyle
        description: Check docstrings in Python code for compliance with conventions
        language: system
        entry: pydocstyle
        types: [python]
        files: ^src/
# SR It would be handy to abort if one linter fails b/c the same error often
# SR triggers multiple linters. That way, if flake8 fails, pylint and mypy
# SR (which in large code bases can take some time to run) could be skipped
# SR before fixing the error. Unfortunately, pre-commit only provides the global
# SR option fail_fast, which would abort even after the small fixers and
# SR formatters changed something. A potential solution could be to write a
# SR small bash script run-linters.sh that runs flake8, pylint and run-mypy.sh
# SR in that order and aborts on error.
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        description: Check Python code for correctness, consistency and adherence to best practices
        language: system
        entry: pylint
        types: [python]
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        description: Check Python code for correctness, consistency and adherence to best practices
        language: system
        entry: flake8
        types: [python]
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        description: Perform static type analysis of Python code
        language: system
        entry: bash tools/run-mypy.sh
        require_serial: true
        pass_filenames: false
        verbose: true
        types: [python]
        files: ^(src|tests)/

Moved coordinate transformation function
  src/pyflexplot/data_transformation/rotated_pole.py
Due: pydocstyle, pylint, flake8, mypy

Update References
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_concentration_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_tot_deposition_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e_total_deposition_dummy.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_multipanel_ens_stats_integr_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_max_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_min_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_probability_wet_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/test_cosmo-1.py
Due: pylint, flake8, mypy

Restructure code
  src/pyflexplot/data_transformation/rotated_pole.py
Due: pydocstyle, pylint, flake8, mypy

Init shape file tests
  tests/slow/test_pyflexplot/test_plots/test_shape-files.py
Due: pylint, flake8, mypy

Add Unit test for shape files
  tests/slow/test_pyflexplot/test_plots/test_shape-files.py
Due: pylint, flake8, mypy

Clean up
  src/srutils/dataclasses.py
Due: pydocstyle, pylint, flake8, mypy

Update Text
  README.md
Due: none

Add data from test files
  data
Due: none

Add example png
  img/integrated_concentration_site-Goesgen_species-1_domain-full_lang-de_ts-20200217T0900.png
Due: none

Update README.md
  README.md
Due: none

Removed typo
  README.md
Due: none

Restructure Code
  README.md
  src/pyflexplot/cli/main.py
  src/pyflexplot/data_transformation/rotated_pole.py
  src/pyflexplot/input/meta_data.py
  src/pyflexplot/input/read_fields.py
  src/pyflexplot/input/species.py
  src/pyflexplot/plots.py
  src/pyflexplot/plotting/coord_trans.py
  src/pyflexplot/plotting/map_axes.py
  src/pyflexplot/plotting/proj_bbox.py
  src/pyflexplot/plotting/text_box_axes.py
  src/pyflexplot/save_data.py
  src/pyflexplot/setups/base_setup.py
  src/srtools/crop_netcdf.py
  src/srutils/dataclasses.py
  src/srutils/dict.py
  src/srutils/geo.py
  src/srutils/plotting.py
  src/srutils/various.py
  src/words/words.py
  tests/slow/test_pyflexplot/test_plots/test_shape-files.py
Due: pydocstyle, pylint, flake8, mypy

Removed redundant loop
  src/pyflexplot/cli/main.py
Due: pydocstyle, pylint, flake8, mypy

Add preset shape file example
  src/pyflexplot/data/presets/opr/cosmo-1e/all_shp.toml
Due: none

Update requirements.yml
  requirements/requirements.yml
Due: none

Fix logic when merging the shape files fails
  src/pyflexplot/cli/main.py
Due: pydocstyle, pylint, flake8, mypy

Pre-commit clean up
  src/pyflexplot/input/species.py
  src/pyflexplot/plots.py
Due: pydocstyle, pylint, flake8, mypy

Update unpinned environment
  requirements/requirements.yml
Due: none

Fixed run-time type checking
  src/srutils/plotting.py
Due: pydocstyle, pylint, flake8, mypy

Restored removal of redundant shape files after merge
  src/pyflexplot/cli/main.py
Due: pydocstyle, pylint, flake8, mypy

Removed redundant nc files
  data
Due: none

Applied context manager to sub zip file merging
  src/pyflexplot/cli/main.py
Due: pydocstyle, pylint, flake8, mypy

Bug fix path
  src/pyflexplot/cli/main.py
Due: pydocstyle, pylint, flake8, mypy

Add test shape preset file
  src/pyflexplot/data/presets/opr/ifs-hres/all_shp.toml
Due: none

Bug fix not deleted .shp.xml sub files
  src/pyflexplot/save_data.py
Due: pydocstyle, pylint, flake8, mypy

Update python version
  tools/setup_env.sh
Due: none

Revert function to split path
  src/srutils/paths.py
Due: pydocstyle, pylint, flake8, mypy

Added ICON model names.
  src/pyflexplot/data/presets/opr/cosmo-1e-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/opr/cosmo-1e-ctrl/all_shp.toml
  src/pyflexplot/data/presets/opr/cosmo-1e/all_pdf.toml
  src/pyflexplot/data/presets/opr/cosmo-1e/all_png.toml
  src/pyflexplot/data/presets/opr/cosmo-2e/all_png.toml
  src/pyflexplot/data/presets/opr/cosmo-2e/all_shp.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_shp.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_pdf.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_png.toml
  src/pyflexplot/input/read_fields.py
  src/pyflexplot/plots.py
Due: pydocstyle, pylint, flake8, mypy

Fix bug for FLEXPART-ICON output plotting, increase patch level
  VERSION
  pyproject.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_png.toml
  src/pyflexplot/input/fix_nc_input.py
  src/pyflexplot/input/meta_data.py
Due: pydocstyle, pylint, flake8, mypy

Add modifications from black.
  src/pyflexplot/input/fix_nc_input.py
  src/pyflexplot/input/meta_data.py
  src/pyflexplot/plots.py
Due: pydocstyle, pylint, flake8, mypy

Update README.md, fix bug that caused species attributes to always have the default values.
  README.md
  src/pyflexplot/input/meta_data.py
  src/pyflexplot/input/species.py
Due: pydocstyle, pylint, flake8, mypy

Make README.md adhere to MD032.
  README.md
Due: none

Use pinned environment for gihub actions.
  .github/workflows/pre-commit.yml
Due: none

Add presets and adapt code to plot FLEXPART-ICON output. (#37)
  .github/workflows/pre-commit.yml
  README.md
  VERSION
  pyproject.toml
  src/pyflexplot/data/presets/opr/cosmo-1e-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/opr/cosmo-1e-ctrl/all_shp.toml
  src/pyflexplot/data/presets/opr/cosmo-1e/all_pdf.toml
  src/pyflexplot/data/presets/opr/cosmo-1e/all_png.toml
  src/pyflexplot/data/presets/opr/cosmo-2e/all_png.toml
  src/pyflexplot/data/presets/opr/cosmo-2e/all_shp.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_shp.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_pdf.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_png.toml
  src/pyflexplot/input/fix_nc_input.py
  src/pyflexplot/input/meta_data.py
  src/pyflexplot/input/read_fields.py
  src/pyflexplot/input/species.py
  src/pyflexplot/plots.py
Due: pydocstyle, pylint, flake8, mypy

Update Jenkinsfile, build pinned stage
  jenkins/Jenkinsfile
Due: none

remove pinned tests and use balfrin agent
  jenkins/Jenkinsfile
Due: none

Updated plot references.
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_concentration_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_tot_deposition_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e_total_deposition_dummy.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_multipanel_ens_stats_integr_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_max_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_min_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_probability_wet_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
Due: pylint, flake8, mypy
