Repository MeteoSwiss-APN/pyflexplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, pydocstyle, pylint, flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-symlinks
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: forbidden-files-copier-rej
        name: find copier rejection files
        language: fail
        entry: "Found copier update rejection file(s): review and remove them"
        files: "\\.rej$"
    -   id: forbidden-files-git-orig
        name: find git merge backup files
        language: fail
        entry: "Found git merge backup file(s): review and remove them"
        files: "\\.orig$"
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        description: Check REST files for correctness
        language: system
        entry: rstcheck
        types: [rst]
-   repo: local
    hooks:
    -   id: codespell
        name: codespell
        description: Check for spelling errors
        language: system
        entry: codespell
-   repo: local
    hooks:
    -   id: black
        name: black
        description: Format Python code
        language: system
        entry: black
        types_or: [python, pyi]
-   repo: local
    hooks:
    -   id: isort
        name: isort
        description: Group and sort Python imports
        language: system
        entry: isort
        types_or: [python, pyi, cython]
-   repo: local
    hooks:
    -   id: pydocstyle
        name: pydocstyle
        description: Check docstrings in Python code for compliance with conventions
        language: system
        entry: pydocstyle
        types: [python]
        files: ^src/
# SR It would be handy to abort if one linter fails b/c the same error often
# SR triggers multiple linters. That way, if flake8 fails, pylint and mypy
# SR (which in large code bases can take some time to run) could be skipped
# SR before fixing the error. Unfortunately, pre-commit only provides the global
# SR option fail_fast, which would abort even after the small fixers and
# SR formatters changed something. A potential solution could be to write a
# SR small bash script run-linters.sh that runs flake8, pylint and run-mypy.sh
# SR in that order and aborts on error.
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        description: Check Python code for correctness, consistency and adherence to best practices
        language: system
        entry: pylint
        types: [python]
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        description: Check Python code for correctness, consistency and adherence to best practices
        language: system
        entry: flake8
        types: [python]
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        description: Perform static type analysis of Python code
        language: system
        entry: bash tools/run-mypy.sh
        require_serial: true
        pass_filenames: false
        verbose: true
        types: [python]
        files: ^(src|tests)/

Adapted linter config.
  old_config/mypy.ini
  old_config/tox.ini
  pyproject.toml
Due: none

Fix some linter issues and temporarily disable pylint.
  .pre-commit-config.yaml
  pyproject.toml
  requirements/environment.yml
Due: none

Removed obsolete Makefile.
  Makefile
Due: none

Updated environment.
  requirements/environment.yml
  requirements/environment.yml.bck
Due: none

Updated pyproject.toml to use Python 3.9 as required by pyflexplot. Reformatted README.meteoswiss from rst to md format.
  README.meteoswiss.md
  README.meteoswiss.rst
  pyproject.toml
  requirements/environment.yml
  requirements/environment.yml.bck
Due: rstcheck

First step towards newer Python with unpinned requirements.
  README.meteoswiss.md
  requirements/environment.yml
  src/pyflexplot/input/species.py
  tools/setup_env.sh
Due: pydocstyle, pylint, flake8, mypy

fix on dataclasses wrapper
  src/srutils/dataclasses.py
Due: pydocstyle, pylint, flake8, mypy

Added working environment.yml: using unpinned installation does currently not yield a working environment.
  requirements/environment.yml
Due: none

Updated to new blueprint using copier.
  .copier-answers.yml
  README.md
  docs/documentation.inactive
  jenkins/JenkinsJobPR
  jenkins/Jenkinsfile
  pyproject.toml
  src/pyflexplot/cli/main.py
  src/pyflexplot/input/meta_data.py
  src/pyflexplot/input/species.py
  src/pyflexplot/output.py
  src/pyflexplot/plots.py
  src/pyflexplot/plotting/ref_dist_indicator.py
  src/pyflexplot/plotting/text_box_axes.py
  src/pyflexplot/setups/plot_panel_setup.py
  src/pyflexplot/setups/plot_setup.py
  src/pyflexplot/utils/formatting.py
  src/srutils/dataclasses.py
  src/srutils/dict.py
  src/srutils/testing.py
  tests/fast/test_srutils/test_dict/nested/test_decompress.py
  tests/fast/test_words/test_test.py
  tests/fast/test_words/test_translated_words.py
  tests/medium/test_pyflexplot/test_input/test_read_flexpart_fields/test_deterministic.py
Due: pydocstyle, pylint, flake8, mypy

Updated reference for slow tests.
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_concentration_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_tot_deposition_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e_total_deposition_dummy.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_multipanel_ens_stats_integr_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_max_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_min_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_probability_wet_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
Due: pylint, flake8, mypy

Changed function, so it is covers the inversion of both coordinates in lon (-180, 180) --> (180, -180)
  src/pyflexplot/plotting/coord_trans.py
Due: pydocstyle, pylint, flake8, mypy

Changed type hint comparison for the casting and Properties of the TextBoxAxes
  src/srutils/dataclasses.py
  tests/fast/test_pyflexplot/test_plotting/test_text_box_axes.py
Due: pydocstyle, pylint, flake8, mypy

Removed obsolete class in the Textbox Test
  src/pyflexplot/plotting/text_box_axes.py
Due: pydocstyle, pylint, flake8, mypy

Removed obsolete class in the textbox axes tests
  tests/fast/test_pyflexplot/test_plotting/test_text_box_axes.py
Due: pylint, flake8, mypy

Removed obsolete code
  src/pyflexplot/plotting/text_box_axes.py
Due: pydocstyle, pylint, flake8, mypy

Removed DeprecationWarning coming from new matplotlib version due to changing in the colormapping
  src/pyflexplot/plots.py
  src/srutils/plotting.py
Due: pydocstyle, pylint, flake8, mypy

Updated the references in the slow test of the different models
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_concentration_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_tot_deposition_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e_total_deposition_dummy.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_multipanel_ens_stats_integr_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_max_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_min_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_probability_wet_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
Due: pylint, flake8, mypy

Formatted Code
  src/pyflexplot/plotting/coord_trans.py
  src/srutils/dataclasses.py
Due: pydocstyle, pylint, flake8, mypy

Updated to pypdf because pyPDF2 is deprecated
  src/srutils/pdf.py
Due: pydocstyle, pylint, flake8, mypy

Updated environment and version information
  environment.yml
  pyproject.toml
Due: none

Class to save plots and data in different file formats
  src/pyflexplot/plots.py
  src/pyflexplot/save_data.py
Due: pydocstyle, pylint, flake8, mypy

File formatter sorts files with multiple extension
  src/srutils/paths.py
  src/srutils/str.py
Due: pydocstyle, pylint, flake8, mypy

Add species_name as possible parameter for naming output files
  src/pyflexplot/output.py
Due: pydocstyle, pylint, flake8, mypy

Add multiplier command to scale the output data
  src/pyflexplot/input/read_fields.py
  src/pyflexplot/plotting/boxed_plot.py
  src/pyflexplot/setups/dimensions.py
  tests/fast/test_pyflexplot/test_setups/shared.py
  tests/fast/test_pyflexplot/test_setups/test_core_dimensions.py
  tests/fast/test_pyflexplot/test_setups/test_dimensions.py
Due: pydocstyle, pylint, flake8, mypy

Code clean-up
  src/pyflexplot/output.py
  src/pyflexplot/plotting/domain.py
Due: pydocstyle, pylint, flake8, mypy

Add functionality to generate shape files
  VERSION
  pyproject.toml
  src/pyflexplot/cli/main.py
  src/pyflexplot/save_data.py
Due: pydocstyle, pylint, flake8, mypy

Code Clean Up
  src/pyflexplot/cli/main.py
  src/pyflexplot/save_data.py
Due: pydocstyle, pylint, flake8, mypy

Code Format
  src/pyflexplot/save_data.py
Due: pydocstyle, pylint, flake8, mypy

Update Readme
  README.md
Due: none

Update ReadMe
  README.md
Due: none

Code Cleanup and Formatting
  src/pyflexplot/cli/main.py
  src/pyflexplot/input/meta_data.py
  src/pyflexplot/input/read_fields.py
  src/pyflexplot/input/species.py
  src/pyflexplot/save_data.py
  src/pyflexplot/setups/base_setup.py
  tools/run-mypy.sh
Due: pydocstyle, pylint, flake8, mypy

Delete environment.yml
  environment.yml
Due: none

Update README, Added Quick start section
  README.md
Due: none

Update environment.yml from Python 3.9.7 to Python 3.11.6
  requirements/environment.yml
Due: none

Clean up code
  src/srutils/dataclasses.py
  tests/fast/test_pyflexplot/test_plotting/test_text_box_axes.py
Due: pydocstyle, pylint, flake8, mypy

Update Jenkins test steps
  jenkins/Jenkinsfile
Due: none

Update requirements/environment.yml
  requirements/environment.yml
Due: none

docstyle, spelling and flake8 clean up
  README.meteoswiss.md
  pyproject.toml
  src/pyflexplot/cli/click.py
  src/pyflexplot/output.py
  src/pyflexplot/plots.py
  src/pyflexplot/plotting/boxed_plot.py
  src/pyflexplot/plotting/ref_dist_indicator.py
  src/pyflexplot/save_data.py
  src/pyflexplot/setups/plot_setup.py
  src/srutils/dataclasses.py
  src/srutils/paths.py
  src/srutils/testing.py
  src/srutils/varname.py
  tests/fast/test_pyflexplot/test_setups/test_dimensions.py
Due: pydocstyle, pylint, flake8, mypy

Add default output path (root results in IOErrors)
  src/pyflexplot/cli/cli.py
Due: pydocstyle, pylint, flake8, mypy

Pre-commit Clean-up
  requirements/environment.yml
  src/pyflexplot/plots.py
  src/pyflexplot/plotting/boxed_plot.py
  src/pyflexplot/plotting/map_axes.py
  src/pyflexplot/plotting/text_box_axes.py
  src/pyflexplot/setups/plot_panel_setup.py
  src/srutils/dataclasses.py
  src/srutils/plotting.py
  src/words/word.py
Due: pydocstyle, pylint, flake8, mypy
