Repository MeteoSwiss-APN/pyflexplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: rstcheck, codespell, pydocstyle, pylint, flake8, mypy

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

pylint:
  name: pylint
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: pylint

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8

mypy:
  name: mypy
  description: Perform static type analysis of Python code
  language: system
  entry: mypy
  require_serial: true
  pass_filenames: false
  verbose: true

Update main.py
  src/pyflexplot/cli/main.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Update main.py (#44)
  src/pyflexplot/cli/main.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Unify styles of code blocks in README.
  README.md
Due: codespell

Update model name in README example.
  README.md
Due: codespell

Update Jenkinsfile
  Jenkinsfile
Due: codespell

Remove warning message when no unit correction in NetCDF file is necessary. Update REAMDE.md and increment patch level.
  README.md
  pyproject.toml
  src/pyflexplot/input/fix_nc_input.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Correct unit for integrated concentration (insert h as time unit). Do not print out warning messages for units that are not corrected.
  VERSION
  pyproject.toml
  src/pyflexplot/input/fix_nc_input.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Correct unit for integrated concentration (insert h as time unit). Do not print out warning messages for units that are not corrected. Modified AUTHORS to reflect that S.R. was the main author.
  AUTHORS.md
  src/pyflexplot/input/fix_nc_input.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Convert units in Flexpart-ICON output by 1e-12 as for COSMO and IFS to get [Bq m-3] for concentrations and [Bq m-2] for deposition.
  VERSION
  pyproject.toml
  src/pyflexplot/input/fix_nc_input.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Convert units in Flexpart-ICON output by 1e-12 as for COSMO and IFS to get [Bq m-3] for concentrations and [Bq m-2] for deposition.
  src/pyflexplot/input/fix_nc_input.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Update README.md
  README.md
Due: codespell

RMF-300 Add missing pyyaml dependency
  poetry.lock
  pyproject.toml
Due: none

RMF-300 Fix AWS_CA_BUNDLE path depending on which node (RH / Ubuntu) is used
  .pre-commit-config.yaml
  Jenkinsfile
Due: codespell

Update README
  README.md
Due: codespell

DT-109 Unset http proxy environment variables
  Dockerfile
Due: codespell

DT-109 Unset http proxy environment variables (#50)
  Dockerfile
Due: codespell

Update logging messages for download_key_from_bucket
  src/pyflexplot/s3.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Update README (#49)
  README.md
Due: codespell

refactor to remove useless arguments
  src/pyflexplot/setups/setup_file.py
Due: codespell, pydocstyle, pylint, flake8, mypy

expand individual keys
  src/pyflexplot/cli/main.py
  src/pyflexplot/s3.py
  tests/fast/test_pyflexplot/test_s3/test_s3.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Remove not implemented write function
  src/pyflexplot/setups/setup_file.py
Due: codespell, pydocstyle, pylint, flake8, mypy

remove only cli option and remove unnused function restrict_grouped_setups
  src/pyflexplot/cli/cli.py
  src/pyflexplot/cli/main.py
  src/pyflexplot/input/read_fields.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Update sonar.coverage.exclusions
  sonar-project.properties
Due: codespell

remove ipython import on init
  src/pyflexplot/__init__.py
Due: codespell, pydocstyle, pylint, flake8, mypy

sonarcube help
  src/pyflexplot/cli/main.py
  src/pyflexplot/setups/setup_file.py
Due: codespell, pydocstyle, pylint, flake8, mypy

refactor s3 downloading section
  src/pyflexplot/cli/main.py
  src/pyflexplot/s3.py
  src/pyflexplot/setups/plot_setup.py
  src/pyflexplot/setups/setup_file.py
  tests/fast/test_pyflexplot/test_s3/test_s3.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Update logging messages for download_key_from_bucket (#51)
  src/pyflexplot/s3.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Download S3 objects for different members to different local file (#52)
  sonar-project.properties
  src/pyflexplot/__init__.py
  src/pyflexplot/cli/cli.py
  src/pyflexplot/cli/main.py
  src/pyflexplot/input/read_fields.py
  src/pyflexplot/s3.py
  src/pyflexplot/setups/plot_setup.py
  src/pyflexplot/setups/setup_file.py
  tests/fast/test_pyflexplot/test_s3/test_s3.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-94-redirect-ecr-push
  Jenkinsfile
Due: codespell

update reference to dispersionmodelling
  Jenkinsfile
  infrastructure/aws/ecr.tf
  infrastructure/aws/variables.tf
Due: codespell

Feat/dt 94 dispersionmodelling (#53)
  Jenkinsfile
  infrastructure/aws/ecr.tf
  infrastructure/aws/variables.tf
Due: codespell

Modify presets for PNG output to comply with ProductBrowser requirements.
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_png.toml
Due: codespell

Fix replacement of {base_time} placeholder in outfile: Insert full time stamp instead of first character only.
  src/pyflexplot/output.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Fix for shapefile upload to S3
  src/pyflexplot/cli/main.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Fix for shapefile upload to S3 (#55)
  src/pyflexplot/cli/main.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Fix upload
  src/pyflexplot/cli/main.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Path conditions:
  rstcheck: any of: \.rst$
  codespell: any file but: (?x)^(
    poetry.lock |
    pyproject.toml |
)$

  pydocstyle: any of: ^src/ and \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
