Repository MeteoSwiss-APN/pyflexplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: rstcheck, codespell, pydocstyle, pylint, flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-symlinks
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        description: Check REST files for correctness
        language: system
        entry: rstcheck
        types: [rst]
-   repo: local
    hooks:
    -   id: codespell
        name: codespell
        description: Check for spelling errors
        language: system
        entry: codespell
        exclude: |
            (?x)^(
                poetry.lock |
                pyproject.toml |
            )$
-   repo: local
    hooks:
    -   id: black
        name: black
        description: Format Python code
        language: system
        entry: black
        types_or: [python, pyi]
-   repo: local
    hooks:
    -   id: isort
        name: isort
        description: Group and sort Python imports
        language: system
        entry: isort
        types_or: [python, pyi, cython]
-   repo: local
    hooks:
    -   id: pydocstyle
        name: pydocstyle
        description: Check docstrings in Python code for compliance with conventions
        language: system
        entry: pydocstyle
        types: [python]
        files: ^src/
# SR It would be handy to abort if one linter fails b/c the same error often
# SR triggers multiple linters. That way, if flake8 fails, pylint and mypy
# SR (which in large code bases can take some time to run) could be skipped
# SR before fixing the error. Unfortunately, pre-commit only provides the global
# SR option fail_fast, which would abort even after the small fixers and
# SR formatters changed something. A potential solution could be to write a
# SR small bash script run-linters.sh that runs flake8, pylint and run-mypy.sh
# SR in that order and aborts on error.
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        description: Check Python code for correctness, consistency and adherence to best practices
        language: system
        entry: pylint
        types: [python]
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        description: Check Python code for correctness, consistency and adherence to best practices
        language: system
        entry: flake8
        types: [python]
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        description: Perform static type analysis of Python code
        language: system
        entry: mypy
        require_serial: true
        pass_filenames: false
        verbose: true
        types: [python]

DT-250 use dedicated tasks for test w coverage, link, type check
  .mch-ci.yml
Due: codespell

DT-250 remove deprecated security report
  .mch-ci.yml
  Jenkinsfile
Due: codespell

DT-250 prevent unit tests from removing local image
  .mch-ci.yml
Due: codespell

DT-250 prevent artifact publish from removing local image
  .mch-ci.yml
Due: codespell

DT-250 remove unused publish to pypi step
  .mch-ci.yml
  Jenkinsfile
Due: codespell

DT-249 allow mchbuild 0.12
  Jenkinsfile
Due: codespell

Dirty solution to issue 70
  src/pyflexplot/plotting/boxed_plot.py
Due: codespell, pydocstyle, pylint, flake8, mypy

better solution
  src/pyflexplot/plotting/boxed_plot.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Bump version from 2.2.4 to 2.2.7
  pyproject.toml
Due: none

DT-285 use dev build for image cleanup
  .mch-ci.yml
  Jenkinsfile
Due: codespell

DT-285 clean up images by image reference
  .mch-ci.yml
Due: codespell

DT-250 update cleanup image cmd vars
  .mch-ci.yml
  Jenkinsfile
Due: codespell

Use species_name instead of species_id for output file names.
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_shp.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_shp.toml
Due: codespell

Update installation section of README
  README.md
Due: codespell

Bump version from 2.2.7 to 2.2.8
  pyproject.toml
Due: none

DT-308 Include product_type as Metadata in S3 object obtained from the preset
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/s3.py
  src/pyflexplot/setups/model_setup.py
  src/pyflexplot/setups/setup_file.py
  tests/fast/test_pyflexplot/test_s3/test_s3.py
  tests/fast/test_pyflexplot/test_setups/test_setup_file.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Update presets to contain product_type. Update presets in test with changes previously introduced in opr.
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch1-ctrl/all_shp.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/opr/icon-ch2-eps/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_pdf.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_shp.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_pdf.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_shp.toml
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_pdf.toml
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_shp.toml
  src/pyflexplot/data/presets/test/icon-ch2-eps/all_pdf.toml
  src/pyflexplot/data/presets/test/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/test/icon-ch2-eps/all_shp.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_pdf.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_shp.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_pdf.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_shp.toml
Due: codespell

Update test references
  tests/fast/test_pyflexplot/test_setups/shared.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_concentration_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_tot_deposition_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e_total_deposition_dummy.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_multipanel_ens_stats_integr_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_max_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_min_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_probability_wet_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
Due: codespell, pylint, flake8, mypy

DT-308 Resolve TODOs and enhance tests for testing the product_type field in presets
  src/pyflexplot/s3.py
  src/pyflexplot/setups/model_setup.py
  tests/fast/test_pyflexplot/test_setups/shared.py
  tests/fast/test_pyflexplot/test_setups/test_setup_file.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_concentration_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e-ctrl_tot_deposition_multipanel_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-1e_total_deposition_dummy.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-2e_multipanel_ens_stats_integr_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_arrival_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_max_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_mean_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_min_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_cosmo-e_ens_probability_wet_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_integrated_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres-eu_total_deposition.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_affected_area.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_cloud_departure_time.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_concentration.py
  tests/slow/test_pyflexplot/test_plots/ref_ifs-hres_total_deposition.py
Due: codespell, pydocstyle, pylint, flake8, mypy

Bump version from 2.2.8 to 2.2.9
  pyproject.toml
Due: none

Remove no longer needed release stage from Jenkinsfile
  Jenkinsfile
Due: codespell

Add closing brace in Jenkinsfile
  Jenkinsfile
Due: codespell

Remove no longer needed release stage from Jenkinsfile (#87)
  Jenkinsfile
Due: codespell

Bump version from 2.2.9 to 2.3.0
  pyproject.toml
Due: none

Use name instead of hardcoded '1' to indicate species in png file name.
  pyproject.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_png.toml
Due: codespell

Same correction for iconch2eps-test
  src/pyflexplot/data/presets/test/icon-ch2-eps/all_png.toml
Due: codespell

Same correction for iconch1eps-test
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_png.toml
Due: codespell

Fix png output file names for IFS in respective presets. (#88)
  pyproject.toml
  src/pyflexplot/data/presets/opr/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/opr/ifs-hres/all_png.toml
  src/pyflexplot/data/presets/test/icon-ch1-ctrl/all_png.toml
  src/pyflexplot/data/presets/test/icon-ch2-eps/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres-eu/all_png.toml
  src/pyflexplot/data/presets/test/ifs-hres/all_png.toml
Due: codespell

DT-372 Set sonar properties for test and source code folders
  sonar-project.properties
Due: codespell

DT-397: Replace deprecated distutils.dir_util functionality
  .gitignore
  poetry.lock
  pyproject.toml
  tests/medium/test_pyflexplot/test_input/shared.py
  tests/slow/test_pyflexplot/test_plots/shared.py
Due: codespell, pylint, flake8, mypy

DT-397: Increase mypy failure threshold in Jenkins
  Jenkinsfile
Due: codespell

DT-397: Fix the coverage report generation
  pyproject.toml
Due: none

DT-397: Upgrade to python 3.12
  .python-version
  Dockerfile
  Jenkinsfile
  poetry.lock
  pyproject.toml
Due: codespell

DT-397: Fix contour rasterization for matplotlib >= 3.8 (#70)
  src/pyflexplot/plotting/boxed_plot.py
Due: codespell, pydocstyle, pylint, flake8, mypy

DT-397: Set a new version
  README.md
  pyproject.toml
Due: codespell

DT-397: Upgrade dev dependencies
  poetry.lock
  pyproject.toml
Due: none

DT-397: Upgrade to python 3.13
  .python-version
  Dockerfile
  poetry.lock
  pyproject.toml
Due: codespell

DT-397: Only declare direct dependencies
  poetry.lock
  pyproject.toml
Due: none

DT-397: Upgrade numpy to 2.x because python 3.13 requires it
  poetry.lock
  pyproject.toml
Due: none

DT-397: Replace numpy.float_ with numpy.float64
  src/pyflexplot/plotting/coord_trans.py
  tests/fast/test_pyflexplot/test_plotting/test_domain.py
Due: codespell, pydocstyle, pylint, flake8, mypy
